# Docker-Compose
POSTGRES_USER=YOUR_USERNAME
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=YOUR_DB_NAME
KEYCLOAK_ADMIN=VALUE_HERE
KEYCLOAK_ADMIN_PASSWORD=VALUE_HERE

# Application.yml
KEYCLOAK_SERVER_URL=http://localhost:your-port
KEYCLOAK_ISSUER_URI=http://localhost:your-port/realms/paste-your-realm-here
KEYCLOAK_TOKEN_URI=http://localhost:your-port/paste-your-realm-here/Auth/protocol/openid-connect/token
REALM=your-realm
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
AUTH_GRANT_TYPE=client_credentials
SCOPE=openid
